<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  {{>headLinks}}
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>About the app - by {{name}}.</p>
  </div>

  {{>footer}}
</body>

</html>