<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
  {{>headLinks}}

</head>

<body>
  <div class="main-content">
    {{>header}}
    <img
      class="landing-image"
      src="/img/landscape_seydaNeen.jpg"
    >

    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>

    <p id="p1"></p>
    <p id="p2"></p>
  </div>

  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>